{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}"/>
    <link rel="stylesheet" href="{% static "css/leaflet.contextmenu.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/map.css" %}"/>
    <script src="{% static "js/leaflet-src.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/hide.js" %}"></script>
    <script type="text/javascript" src="{% static "js/leaflet.ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/leaflet.contextmenu.min.js" %}"></script>
</head>
<body>
    <div id="map"></div>
    <script src="{% static "js/map.js" %}"></script>
    <div class="b-popup" id="popup1">
        <div id="hidden" class="b-popup-content">
        </div>
    </div>
</html>